@model TestApp.Models.Item
@{
    ViewData["Title"] = "Edit";
}


<h3>Edit an Item</h3>
<form  asp-action="Edit" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" asp-for="name" />
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" asp-for="price" />
    </div>
    <div class="form-group">
        <label for="CatogeryId">Catogery</label>
        <select asp-for="CatogeryId" asp-items="ViewBag.Catogery" class="form-control">
            <option value="">Select Category</option>
        </select>

    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>