html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.action-links {
  color: black;
  text-decoration: none;
  background-color: #3efb25;
  padding: 0.3rem 1rem;
}

.action-links-del {
  color: black;
  text-decoration: none;
  background-color: #fb2525;
  padding: 0.3rem 1rem;
}

.action-links:hover, .action-links-del:hover {
  color: black;
}